{% extends 'base.html.twig' %}

{% block title %}Eventopia - Home
{% endblock %}
{# ______________________________________navbar__________________________________ #}
{% block navbar %}
	<div style="background-color:white; margin-bottom:100px;">
		{% include 'Front/navbar.html.twig' %}
	</div>
{% endblock %}
{# _______________________________________________________________________________ #}


{% block body %}
	<section class="ftco-section  bg-light">
		<div class="container">
			jeuihbzuj
		</div>
	</section>

{% endblock %}


{% block footer %}
	{% include 'Front/footer.html.twig' %}
{% endblock %}
